{% extends "common_page.html" %} 
   {% block title %} PROFILE {% endblock title %}
   {% load static %}
   {% block  body_content %}
   
   <div>
        <div class="row">
            <div class="col-3"></div>
                <div class="col-md-6 col-12 col-offset-3">
                    <form method="POST" class='mt-4' enctype="multipart/form-data">
                        {% csrf_token %}
                        {% load bootstrap %}
                        <p><span class="date text-pink text-size-30px mt-5">
                            {% if messages %}
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                            {% endif %}</span>
                        </p>

                       {{user_form|bootstrap}} 

                       {% if request.user.is_superuser %}

                            {{admin_profile_form|bootstrap}}
                            
                        {% else %}
                            
                            {{profile_form|bootstrap}}

                        {% endif %}

                        <div class="d-flex justify-content-center"></div>
                        <input class="bc-white mt-2 ml-2 loginbutton btn btn-sm btn-primary" type="submit" value="Update Profile">
                    </form>
                </div>
        </div>
    </div>
    <br>

    {% endblock body_content %}