{% extends 'common_page.html' %}

    {% block title %}Login{% endblock title %}
    {% block body_content %}
    {% load static %}
    <div style="margin-top: 10vh;">
        <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6 col-12 col-offset-3" style="margin-top: 20px;">
            <p class='col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12'>
                A link to reset your password has been sent to your email address.
                please follow the instruction in the email to reset password
            </P>
        </div>
        </div>
        <div class='col-3'></div>
        </div>
    </div>

{% endblock body_content %}